<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="display_so_arm100_rviz">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import display_so_arm100_rviz urdf file -->
    <xacro:include filename="$(find display_so_arm100_rviz)/urdf/SO_7DOF_ARM100_08h_HL_01d_URDF_01.SLDASM.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="display_so_arm100_rviz.ros2_control.xacro" />


    <xacro:display_so_arm100_rviz_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
